


.list-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: dodgerblue;
  font-family: "Times New Roman";
}

.list-body {
  font-size: 20px;
  font-family: "Times New Roman";
  color: indigo;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.list-addList {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-addList-body {
  font-size: 26px;
  font-family: "Times New Roman";
  color: indigo;
  margin-bottom: 16px;
}

.list-addList form{
  color: white;
  font-size: 18px;
  margin: 6px;
  padding: 6px;
  border-radius: 8px;
  border: 2px solid indigo;
  background-color: dodgerblue;
}

.list-addList input, button{
  color: indigo;
  font-size: 18px;
  margin: 6px;
  padding: 6px;
  border-radius: 8px;
  border: 2px solid indigo;
  background-color: white;
}





